[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

biopython = "*"


[dev-packages]

pandoc = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
