[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "==3.0.0rc1"
fire = "*"
biopython = "*"

[dev-packages]
pandoc = "*"
coveralls = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"
tox = "*"

[pipenv]
allow_prereleases = true
