[tool.poetry]
name = "pyblastbio"
version = "1.0.0a"
description = ""
authors = ["First Last <youemail@domain.com>"]
homepage = "https://www.github.com/jvrana/pyblast"
repository = "https://www.github.com/jvrana/pyblast"
documentation = "https://www.github.com/jvrana/pyblast"
readme = 'README.md'
packages = [
    { include = "pyblast" }
]

[tool.poetry.dependencies]
python = "^3.7"
fire = "^0.1.3"
biopython = "^1.73"

[tool.poetry.dev-dependencies]
black = {version = "^18.3-alpha.0",allows-prereleases = true}
pytest = "^4.6"
pre-commit = "^1.17"
toml = "^0.10.0"
pandoc = "^1.0"
coveralls = "^1.8"
pytest-cov = "^2.7"
pylint = "^2.3"

[tool.poetry.scripts]
upver = 'pyblast:_version.pull_version'
version = 'pyblast:_version.get_version'
name = 'pyblast:_version.get_name'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"